{{ define "main" }}
<div class="hero-sub-section about-hero">
    <div class="overlay">
        <div class="container">
            <div class="caption">
                <div class="heading">
                    <h2>Hedera Improvement Proposals</h2>
                    <p>Hedera Improvement Proposals (HIPs) define the specification used by the main Hashgraph
                        Consensus Nodes. These proposals can range from core protocol changes such as the gRPC API and
                        blockchain definition, to the applications, frameworks, and protocols built on top of the
                        Hedera public network and used by the community. The HIP author is responsible for building
                        consensus within the community and documenting dissenting opinions, as well as tracking their
                        HIP through the process.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hips-section">
    <div class="container">
        <div class="row">
            <div class="card">
                <img src="/images/icon-hips.svg">
                <h2>HIPs List</h2>
                <p>A complete list of completed HIPs can be found at the Hedera Improvement Proposals page.</p>
                <a href="https://hips.hedera.com/" target="_blank">View The List</a>
            </div>
            <div class="card">
                <img src="/images/icon-contribute.svg">
                <h2>Contribute</h2>
                <p>To contribute to a HIP, or join a discussion, please visit the Hedera Improvement Proposals
                    GitHub.</p>
                <a href="https://github.com/hashgraph/hedera-improvement-proposal" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>
{{ end }}