{{ define "main" }}

<div class="hero-sub-section">
    <div class="overlay">
        <div class="container">
            <div class="caption">
                <div class="heading">
                    <h2>Join</h2>
                    <p>There are opportunities for individuals and organizations of all kinds to help build the future.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="join-section">
    <div class="container">
        <div class="row">
            <div class="card">
                <img src="/images/icon-developers.svg">
                <h2>Developers</h2>
                <p>Developers are encouraged to visit the GitHub pages for any of our exciting
                    <a class="inlineLink" href="/projects">projects</a>.
                    All are welcome to contribute to our meritocratic community! Contribute a project or a feature,
                    file a bug, fix a bug, create a PR, star our projects, contribute documentation, or just hang out in
                    our discussion channels. For
                    technical writers, in addition to individual Project documentation, you can contribute to the main
                    ledger documentation.
                    <br><br>
                    All participants are required to adhere to the <a class="inlineLink"
                                                                      href="/charter#13-code-of-conduct">Code of
                        Conduct</a>.
                    <br><br>
                    Some projects within the Hedera projects require a signed Contributor License
                    Agreement (CLA) from each participant. The purpose of the CLA is to ensure that the Hedera projects
                    have the necessary rights to use and redistribute your contributions as part of the
                    project. The CLA also provides certain representations and warranties regarding your contributions.
                </p>
                <div class="btn">
                    <a href="/cla">Individual CLA</a>
                    <a href="/cla">Corporate CLA</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}