{{ define "main" }}
<div class="initial-content">
    <div id="main" role="main">
        <article class="page h-entry" itemscope="" itemtype="https://schema.org/CreativeWork">
            <meta itemprop="headline" content="{{.Title}}">
            <div class="page__inner-wrap">
                <header>
                    <h1 id="page-title" class="page__title p-name" itemprop="headline">{{.Title}}</h1>
                </header>
                {{.Content}}
            </div>
        </article>
    </div>
</div>
<style>h3, h2 {
  margin: 10px 0;
}</style>
{{ end }}