<footer>
    <div class="overlay">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-menu">
                            <h2>Hedera ❤️ Developers</h2>
                            <ul>
                                <li>
                                    <a href="/code-of-conduct">Code of Conduct</a>
                                </li>
                                <li>
                                    <a href="https://www.iubenda.com/privacy-policy/77648206"
                                       class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe "
                                       title="Privacy Policy ">Privacy Policy</a>
                                    <script type="text/javascript">(function (w, d) {
                                      var loader = function () {
                                        var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                                        s.src = "https://cdn.iubenda.com/iubenda.js";
                                        tag.parentNode.insertBefore(s, tag);
                                      };
                                      if (w.addEventListener) {
                                        w.addEventListener("load", loader, false);
                                      } else if (w.attachEvent) {
                                        w.attachEvent("onload", loader);
                                      } else {
                                        w.onload = loader;
                                      }
                                    })(window, document);</script>
                                </li>
                                <li>
                                    <a href="https://www.iubenda.com/privacy-policy/77648206/cookie-policy"
                                       class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe "
                                       title="Cookie Policy ">Cookie Policy</a>
                                    <script type="text/javascript">(function (w, d) {
                                      var loader = function () {
                                        var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                                        s.src = "https://cdn.iubenda.com/iubenda.js";
                                        tag.parentNode.insertBefore(s, tag);
                                      };
                                      if (w.addEventListener) {
                                        w.addEventListener("load", loader, false);
                                      } else if (w.attachEvent) {
                                        w.attachEvent("onload", loader);
                                      } else {
                                        w.onload = loader;
                                      }
                                    })(window, document);</script>
                                </li>
                                <li>
                                    <a href='#' class='iubenda-cs-preferences-link'>Cookie Config</a>
                                </li>
                                <li>
                                    <a href='#' class='iubenda-cs-uspr-link'>Notice at Collection</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
