<div class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="/"><img src="/images/full-hedera-logo.png"></a>
                </div>
            </div>
            <div class="col-lg-9">
                <label for="a"> <img src="/images/mobile-hamburger.svg" alt="Menu Icon"></label>
                <input type="checkbox" id="a"/>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/hips">HIPs</a>
                        </li>
                        <li>
                            <a href="/community">Community</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
